<launch>
    <!-- Static transform from map to odom -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom_broadcaster"
          args="0 0 0 0 0 0 map odom" />

    <param name="num_robots" value="6"/>
    <param name="num_leaders" value="1"/>
    <param name="num_followers" value="5"/>

    <!-- Publishing Graph topology matrix -->
    <node pkg="mpc_flock" name="graph_topology" type="graph_topology.py" output="screen">
    </node>

    <!-- Launch simulated agents -->
    <include file="$(find mpc_flock)/launch/agents.launch" />

    <!-- Keyboard input -> cmd_vel -->
    <arg name="robot_id" value="0"/>
    <node pkg="mpc_flock" name="cmd_vel_keyboard" type="cmd_vel_keyboard.py" output="screen" args="$(arg robot_id)">
    </node>

    <!-- Plotter -->
    <!--param name="xlim_min" value="-7.5"/>
    <param name="xlim_max" value="11.5"/>
    <param name="ylim_min" value="-1.5"/>
    <param name="ylim_max" value="14.5"/-->
    <node pkg="mpc_flock" name="planar_simulation" type="planar_simulation.py" output="screen">
    </node>
</launch>